@use "/styles/base";

.box {
  display: flex;
  justify-content: space-between;

  input {
    display: none;
  }
}

.uploadSnippet {
  width: 75%;
  margin-left: auto;
  background: white;
  padding: 5px;
  margin: 5px 0;
}

.btnImg {
  @include base.button;
  background-color: grey;
}
