@use "/styles/base";

.container {
  min-height: 100vh;
  display: flex;
  margin-top: 5rem;
  margin-left: 2rem;
  color: black;

  section {
    width: 60vw;
    margin-right: 1rem;
  }
  aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 250px;
    min-height: 200px;
    text-align: center;
    position: sticky;
    top: 80px;
    height: 0;
  }
}

.btnPreview {
  @include base.button;
  background-color: base.$navbar-color;
  color: white;
  &:hover {
    background-color: base.$background-color;
    border: 2px solid base.$navbar-color;
    border-radius: 8px;
    color: base.$navbar-color;
  }
}
.btnLive {
  @include base.button;
  background-color: base.$accent-color;
  color: white;
  &:hover {
    background-color: base.$background-color;
    border: 2px solid base.$navbar-color;
    border-radius: 8px;
    color: base.$navbar-color;
  }
}
