@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

// Color Palette
$background-color: #e5e8ee;
$button-color: #fdcd47;
$navbar-color: #232c2f;
$accent-color: #141e61;
$secondary-text-color: #29303c;
$text-color: black;

// $background-color: #eeeeee;
// $button-color: #e94560;
// $navbar-color: #16213e;
// $accent-color: #141e61;
// $secondary-text-color: #533483;
// $text-color: black;

// Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Merriweather", serif;

@mixin flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background-color: $button-color;
  border: none;
  color: $text-color;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: $font-primary;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@mixin card {
  background-color: White;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 10px 10px 5px gray;
}
